.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .ps{
    font-size:10px;
    left:200px;
  }
  .head{
    font-family: "Brush Script MT";
  }
img{
    align-self: center;
    margin-bottom: 500px;
}
.column{
    text-align: center;
}
.para{
    text-combine-upright: 300px;
}