.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .ps{
    font-size: smaller;
    left:50%;
  }
  .head{
    font-family: "Brush Script MT";
  }
img{
    align-items: center;
}