.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 800px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .ps{
    font-size:10px;
    margin-left: 15%;
  }
  .head{
    font-family: "Brush Script MT";
    font-size: larger;
    color:darkorchid;
  }
  
img{
    align-self: center;
    align-items: top;
}
.column{
    text-align: center;
    margin-bottom: 50%;
}
